body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "hero"
    "main"
    "banner"
    "extra"
    "image";
  grid-gap: 10px;
  padding: 10px;
  min-height: 100vh;
}

.header,
.menu,
.hero,
.main,
.banner,
.extra,
.image {
  background-color: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

/* Ajustes de color para las diferentes áreas */
.header {
  background-color: #2c3e50;
}

.menu {
  background-color: #e74c3c;
}

.hero {
  background-color: #3498db;
}

.main {
  background-color: #34495e;
}

.banner {
  background-color: #f39c12;
}

.extra {
  background-color: #1abc9c;
}

.image {
  background-color: #ecf0f1;
  color: black;
}

/* Responsive Layout for Tablets */
@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "menu main main"
      "menu banner banner"
      "menu extra image";
    grid-template-columns: 1fr 2fr 1fr; /* Ajusta el tamaño de las columnas */
    grid-template-rows: auto; /* Deja que las filas se adapten al contenido */
    gap: 10px; /* Espacio entre los elementos */
  }

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .menu {
    grid-area: menu;
  }

  .main {
    grid-area: main;
  }

  .banner {
    grid-area: banner;
  }

  .extra {
    grid-area: extra;
  }

  .image {
    grid-area: image;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-areas:
      "header menu menu menu "
      "hero hero hero hero"
      "hero hero hero hero"
      "hero hero hero hero"
      "hero hero hero hero"
      "main main . image "
      "main main . extra"
      "banner banner banner banner";
    grid-template-columns: 1fr 1fr 1fr 1fr; /* La primera columna es más grande */
    grid-template-rows: auto; /* Deja que las filas se adapten al contenido */
    gap: 10px; /* Espacio entre los elementos */
  }

  .header {
    grid-area: header;
  }

  .menu {
    grid-area: menu;
  }

  .hero {
    grid-area: hero;
  }

  .main {
    grid-area: main;
  }

  .image {
    grid-area: image;
  }

  .extra {
    grid-area: extra;
  }

  .banner {
    grid-area: banner;
  }
}
